/*==================================================
                common css start
  ==================================================*/

* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;

}

html,body{
	overflow-x: hidden;
}
/*==================================================
                 common css end
  ==================================================*/
/*==================================================
                 fonts css start
  ==================================================*/
  @font-face{
	font-family: 'Avenir-Regular';
	src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
  @font-face{
	font-family: 'Poppins-Light';
	src: url("../fonts/Poppins-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Wavehaus-SemiBold';
	src: url("../fonts/Wavehaus-95SemiBold.otf") format("opentype");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Wavehaus';
	src: url("../fonts/Wavehaus-66Book.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wavehaus-bold';
	src: url("../fonts/Wavehaus-128Bold.otf") format("opentype");
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: 'Mattone';
	src: url("../fonts/Mattone-Regular.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

.pragraph-16x {
	font-family: 'Wavehaus';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #272727;
	
}

.pragraph-20x {
	font-family: 'Wavehaus';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	color: #FFFFFF;
	
}
.wave-bold-24x{
	font-family: 'Wavehaus-bold';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #E81F2D;
}
.wave-bold-22x{
	font-family: 'Wavehaus-bold';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	color: #FFFFFF;
}
.matt-45x{
	font-family: 'Mattone';
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 60px;
	color: #FFFFFF;
}
/*==================================================
                fonts css end
  ==================================================*/
/*==================================================
                navbar css start
  ==================================================*/

nav {
	background: rgba(242, 242, 242, .7);
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

}
.navbar {
	
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 30px;
	padding-right: 30px;
}

nav .custom-dropdown {
	margin-right: 10px;
}

nav .dropdown-toggle {
	color: #272727;
}

nav .dropdown-toggle:hover {
	color: #272727;
}

nav li {
	padding: 0 5px;

}

nav li a {
	font-family: Wavehaus;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: capitalize;
	color: #272727;

}

.navbar-brand img {
	width: 162px;
	height: 48px;
}

.text_black {
	color: #272727 !important;
}

nav .dropdown-toggle::after {
	display: inline-flex;
	margin-left: .500em;
	vertical-align: 0;
	content: "";
	background: url(../images/arrow_down.svg) center no-repeat;
	border-top: none;
	border-right: .3em solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 0.3em solid transparent;
	height: 20px;
	width: 20px;
}

nav .active::after {
	background: url(../images/arrowred.svg) center no-repeat !important;
	color: #E81F2D !important;
}

nav .dropdown-menu {
	background-color: #FFFFFF;
}

nav .dropdown-menu li a {
	color: #272727;
}

nav .dropdown-menu a:hover {
	color: #272727;
}

nav .dropdown-menu li:hover {
	background: #e81f2d;
}


nav .dropdown-menu .dropdown-item {
	background: transparent;
}

.active {
	color: #e81f2d !important;
}

.btn {
	border-radius: 40px;
	padding: 7px 35px;
}

.btn_danger_brd {
	display: inline-block !important;
	color: #272727;
	background-color: transparent;
	border: 1px solid #E81F2D;
	font-family: Wavehaus;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

/*==================================================
                navbar css end
  ==================================================*/
/*==================================================
                testing banner css start
  ==================================================*/
#test1-banner {
	background: #f2f2f2;
	height: 771px;
	position: relative;

}

.main-banner {
	position: relative;

}

.ban-aft {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.main-banner::after {
	width: 992px;
	height: 750px;
	background: url(../images/banner1.png) no-repeat top right;
	background-size: contain;
	position: absolute !important;
	right: 0;
	top: 0;
	content: '';
	margin-left: auto;
}
.main-banner::before{
      width: 992px;
	  height: 772px;
	background: url(../images/banner_aft_2.svg) no-repeat bottom right;
	  background-size: contain;
	  position: absolute;
	  top:  0;
	  right: 0;
	  content: '';
	  z-index: 4;
}
#test1-banner .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 180px;
}

#test1-banner .overlay .texts h1 {
	font-family: 'Mattone';
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 73px;
	color: #434343;
	width: 500px;

}

#test1-banner .overlay .texts h1 span {
	display: inline-block;
	color: #E81F2D;

}

#test1-banner .overlay .texts h2 {
	font-family: 'Wavehaus-SemiBold';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #E81F2D;
	margin-top: 65px;
	margin-bottom: 27px;
	text-transform: uppercase;
}
#test1-banner .overlay .texts p{
	width: 680px;
}

#test1-banner .overlay .banner-bottom {
	position: absolute;
	bottom: 0;
	

}
#test1-banner .overlay .banner-bottom img {
	height: 112px;
}
/* ------------------==============for testing2 page html start==============---------------- */
#test1-banner .main-banner2::after{
	width: 992px;
	height: 750px;
	background: url(../images/banner2.png) no-repeat top right !important;

}
#test1-banner .testing2-h1{
	color: #272727 !important;
	margin-bottom: 60px;
}
#test1-banner .testing2-banner-pra{
	width: 733px !important;
}
#test1-banner .ovarlay2{
       padding-top: 200px !important;
}

/* ------------------==============for testing2 page html end==============--------------- */

/*==================================================
               testing banner css end
  ==================================================*/
/*==================================================
               allergens banner css start
  ==================================================*/
  #allergens-part{
        background: #171717;
		padding-top: 128px;
		padding-bottom: 225px;
		position: relative;
  }
  .allergen-shape{
	  position: absolute;
	  top: 220px;
	  right: 0;
  }
  #allergens-part h2{
	  margin-bottom: 80px;
  }
  .package {
	  margin-bottom: 75px;
  }
  .package .heading{
	  display: flex;
	  margin-bottom: 28px;
  }
  .package .dot i {
	color: #E81F2D;
	font-size: 19px;
	padding-top: 6px;
}
  .package .text{
	  margin-left: 40px;
	  text-transform: uppercase;
  }
  .package .text h5{
	  letter-spacing: 5px;
  }
  .package .details p{
	  width: 860px;
	  color: #FFFFFF;
  }
  .package .details .wd-820{
	  width: 820px;
	  
  }
  .package .details .package-underline{
	  display: inline-block;
	  color: #E81F2D;
	  text-decoration: underline;
  }
  #allergens-part .bottom-allergens{
	  padding-top: 60px;
  }
  #allergens-part .bottom-allergens h6{
	  width: 808px;
	  margin-bottom: 60px;
  }
  .package2{
	  display: flex;
	  margin-bottom: 40px;
  }
  .package2 .square i {
	color: #E81F2D;
	font-size: 10px;
	margin-right: 10px;
	padding-top: 13px;
}
/* -------------------=============for testing2 page start================----------- */
#allergens-part2{
	background: #171717;
	padding-top: 128px;
	padding-bottom: 100px;
	position: relative;
}
#allergens-part2 .top-p{
	width: 1105px;
}
#allergens-part2 .testing2-list{
	padding-top: 130px;
}
#allergens-part2 .testing2-list-p1{
	width: 580px;
	margin-bottom: 90px;
	
}
#allergens-part2 .testing2-rop-right{
	padding-left: 100px;
}
#allergens-part2 .testing2-list-p2 {
	width: 250px;
	margin-bottom: 128px;
}
#allergens-part2 .testing2-allergen-bottom{
	padding-top: 145px;
}
#allergens-part2 .testing2-allergen-bottom h2{
	margin-bottom: 100px;
}
#allergens-part2 .testing2-allergen-bottom .bottom-p{
	width: 1140px !important;
}
#allergens-part2 .testing2-allergen-bottom .bottom-p span{
  display: inline-block;
  padding-top: 40px;
  width: 100px;
}
#allergens-part2 .testing2-allergen-bottom .all-packages2{
	margin-top: 70px;
}
#allergens-part2 .testing2-allergen-bottom .all-packages2 p {
	width: 549px;
}
#allergens-part2 .testing2-allergen-bottom .all-packages2 .wd-422{
	width: 422px;
}
#allergens-part2 .testing2-allergen-bottom .all-packages2 .wd-506{
	width: 506px;
}
#allergens-part2 .testing2-allergen-bottom .all-packages2 .bottom-right{
	padding-left: 100px;
}
/* -------------------=============for testing2 page end================----------- */
/*==================================================
               allergens banner css end
  ==================================================*/
  /*==================================================
              form css start
  ==================================================*/
  #form-part{
	  background: #f2f2f2;
	  padding-top: 105px;
	  padding-bottom: 124px;
	  position: relative;
  } 
  .form-circle{
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 130px;
	}
  #form-part .top{
	  margin-bottom: 120px;
  } 
  

  #form-part .top h2{
	font-family: 'Wavehaus-bold';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #272727;
	text-transform: uppercase;
	letter-spacing: 3px;

  }
  #form-part .top h2 a{
	  color: #E81F2D;
	  text-decoration: underline !important;
  }
  #form-part .top h2 a:hover{
	color: #E81F2D;
  }
  #form-part .top .botm-h2{
	  margin-top: 40px;
	  width: 940px;
  }
  #form-part .top-form{
	  margin-bottom: 25px;
  }
  #form-part h3{
	font-family: 'Wavehaus-bold';
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	color: #E81F2D;
	margin-bottom: 30px;
  }
  #form-part .form-group{
	  margin-bottom: 30px;
  }
  #form-part .captcha a {
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 14px;
}
  #form-part label{
	font-family: 'Wavehaus-SemiBold';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #959595;
	margin-bottom: 15px;
  }
  #form-part .form-select{
	  background-color: transparent;
  }
  #form-part select{
	border: 0.7px solid #7A7A7A;
	box-sizing: border-box;
	border-radius: 10px;
	width: 415px;
	padding: 14px 19px;


  }
  #form-part option{
	  background-color: #f2f2f2;
	  
  }
  #form-part input{
	border: 0.7px solid #7A7A7A;
	box-sizing: border-box;
	border-radius: 10px;
	width: 415px;
    background: transparent;
	font-family: 'Avenir-Regular' !important;
	font-weight: 400;
	font-size: 14px;
	font-weight: 24px;
	color: #3C4858;
	padding: 14px 19px;
  }
  #form-part .large-input{
	  width: 517px;
  }
  #form-part button{
	background: #E81F2D;
	border-radius: 100px;
	font-family: 'Wavehaus-SemiBold';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 15px 55px;

  }
  .form-select:focus {
	box-shadow: none;
}
  .form-control:focus {
    box-shadow: none;
}
.form-control:focus label {
	color: red !important;
}
/* -----------==============for testing2 page start================--------- */
.testing2-form-h5{
	color: #272727 !important;
	margin-bottom: 70px;
	
}
.testing2-form-p{
 width: 840px;
 color: #434343 !important;
}
/* -----------==============for testing2 page end================--------- */
  /*==================================================
              form css end
  ==================================================*/

/*==================================================
              footer css start
  ==================================================*/
  
  #footer-part .container{
	  padding: 0 45px;
  }
  #footer-part .footer-top{
	  padding: 0 45px;
	  padding-top: 80px;
	  padding-bottom: 60px;
	  background: #141414;
  }

#footer-part .footer-top .list{
	display: flex;
}

#footer-part .footer-top .list ul li{
	margin-bottom: 25px;
}
#footer-part .footer-top .list ul li a {
	display: inline-block;
	font-family: Wavehaus;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;


}
#footer-part .footer-top .list .first-ul{
	
	margin-right: 100px;
}
#footer-part .footer-top .email a{
	display: inline-block;
	font-family: 'Wavehaus';
	font-style: normal;
	font-weight: normal;
	color: #E81F2D;
	font-size: 30px;
	line-height: 28px;
}
#footer-part .footer-bottom{
      background: #101010;
	  padding-top: 20px;
	  padding-bottom: 20px;
}
#footer-part .footer-bottom .social ul{
	padding-left: 0;
}
#footer-part .footer-bottom .social ul li{
	display: inline-block;
}
#footer-part .footer-bottom .social ul li a{
	display: inline-block;
	font-size: 25px;
	color: #FFFFFF;
	margin-right: 35px;
}
#footer-part .footer-bottom .copyright span{
	display: inline-block;
	font-family: 'Poppins-Light';
	font-style: normal;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 22px;
	padding-top: 10px;
	padding-left: 30px;
}
#footer-part .footer-bottom .privacy p{
	font-family: Wavehaus;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
}
#footer-part .footer-bottom .privacy p a{
	display: inline-block;
	font-family: Wavehaus;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}


/*==================================================
              footer css end
  ==================================================*/








  /*  */